<%= render "form" %>
<!-- <form action="/tasks" method="post">
  <label for="name">Enter a new task</label>
  <input type="text" name="tasks[name]">

  <label for="name">Enter a task description</label>
  <input type="text" name="tasks[detail]">

  <input type="submit">


</form> -->
